*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #b31dd8;
    height: 100vh;
}

@media (max-width: 1023px) {
    body {
        align-items: flex-end;
    }
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    margin: 25px auto 0;
    max-width: 400px;
    width: 100%;
}

.result {
    grid-column: 1 / -1;
    background-color: #8d179c;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 25px -10px rgba(78, 22, 110, 0.75);
    word-wrap: break-word;
    word-break: break-all;
}

.previous {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
}

.current {
    font-size: 30px;
}

button {
    cursor: pointer;
    border: 1px solid #8d179c;
    background: #5e0c69;
    outline: none;
}

button:hover, button:focus {
    background: rgba(70, 12, 97, 0.95);
}

 .col-two {
     grid-column: span 2;
 }

 .row-two {
     grid-row: span 2;
 }

